@use "global" as *;

.footer {
    background-color: #001135;
}

.footer__inner {
    padding: 0 rem(50);
}

.footer__wrap {
    @include mq(md){
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

.footer__nav {
    color: $white;
    @include mq(md){
        width: 18.6%;
    }
}

.footer__contents {
    @include mq(md){
        flex: 1;
        margin-left: rem(121);
        margin-top: rem(35);
    }

}

.footer__items {
    @include mq(md){
    display: flex;
    align-items: center;
    gap: rem(46);
    margin-bottom: rem(12);
    }
}

.footer__logo {
    max-width: rem(114);
    width: 100%;
    margin-top:  rem(65);
    @include mq(md){
        max-width: rem(258);
        margin-top: 0;
    }
}

.footer__logo a {
    display: block;
}

.footer__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer__sns {
    margin: rem(43) 0 rem(39);
}

.footer__icon {
    color: $white;
    display: inline-block;
    font-size: rem(22);
}

.footer__icon:not(:first-child) {
    margin-left: rem(17);
}

.footer__copyright {
    color: $white;
    font-size: rem(12);
    font-family: $Roboto-font-family;
    line-height: 1;
}
