@use "global" as *;

.layout-profile {
    margin-top: rem(80);
    padding-top: rem(60);
    padding-bottom: rem(80);
    background-color: $bg-color;
    @include mq(md){
        margin-top: rem(120);
    }
}