@use "global" as *;

.news {
    background-color: #F8F8F8;
}

.news__container {
    margin-top: rem(40);
    @include mq(md){
        display: flex;
        margin-top: 0;
    }
}

.news__head {
    @include mq(md){
        border-right: 1px solid #E2E2E2;
        padding-top: rem(10);
        width: 24%;
        @include mq(md){
            padding-top: rem(18);
        }
    }
}

.news__title {
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform;
    transform: translate(-50px, 0);
}

.news__title.is-scroll-in {
    opacity: 1;
    transform: translate(0, 0);
}


.news__nav {
    margin-top: rem(52);
    padding-left: rem(33);
    padding-bottom: rem(42);
    @include mq(md){
        padding-bottom: 0;
        margin-top: rem(64);
        padding-left: rem(20);
        opacity: 0;
        transition-duration: 500ms;
        transition-property: opacity, transform;
        transform: translate(0, -50px);
    }
}

.news__nav.is-scroll-in {
    opacity: 1;
    transform: translate(0, 0);
}


.news__contents {
    margin: 0 rem(20);
    border-top: 1px solid #E2E2E2;
    @include mq(md){
        border-top: none;
        padding-left: rem(60);
        width: 76%;
        margin: 0;
        opacity: 0;
        transition-duration: 500ms;
        transition-property: opacity, transform;
        transform: translate(0, -50px);
    }
}


.news__contents.is-scroll-in {
    opacity: 1;
    transform: translate(0, 0);
}


.news__items {
    padding-bottom: rem(38);
    @include mq(md){
        padding-bottom: rem(40);
    }
}

.news__btn {
    text-align: right;
    margin-right: rem(-7);
}