@use "global" as *;

.contents-title-wrap__sub-title {
    color: $navy;
    font-size: rem(12);
    font-weight: $bold;
    @include mq(md){
        font-size: rem(16);
    }
}

.contents-title-wrap__title {
    font-family: $Oswald-font-family;
    font-size: rem(26);
    font-weight: $bold;
    text-transform: capitalize;
    line-height: 1;
    margin-top: rem(5);
    position: relative;
    display: inline-block;
    @include mq(md){
        font-size: rem(40);
    }
}

.contents-title-wrap__title::after{
    content: "";
    position: absolute;
    display: block;
    background-color: $black;
    width: rem(60);
    height: rem(1);
    top: 50%;
    right: -70px;
    transform: translateY(-50%);
    @include mq(md){
        right: -39%;
    }
}
