@use "global" as *;


// .service-card + .service-card {
//     margin-top: rem(50);
//     @include mq(md){
//         margin-top: 0;
//         margin-left: rem(18);
//     }
// }

// .service-card:nth-of-type(3n+1) {
//     @include mq(md){
//         margin-left: 0;
//     }
// }

// .service-card:nth-of-type(n+4) {
//     @include mq(md){
//         margin-top: rem(50);
//     }
// }

.service-card a {
    display: block;
    // height: 100%;   
    background-color: #fff;

}

.service-card__img {
    width: 100%;
    aspect-ratio: 335/170;
    position: relative;
    @include mq(md){
        aspect-ratio: 355 / 170;
    }
}

.service-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-card__header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: rem(30);
    color: $white;
}

.service-card__number {
    font-family: $Oswald-font-family;
    font-size: rem(16);
    font-weight: $bold;
}

.service-card__title {
    font-size: rem(26);
    font-weight: $bold;
}

.service-card-content {
    padding: rem(20) rem(25) rem(25);
    @include mq(md){
        padding: rem(25) rem(30) rem(30);
    }
}

.service-card-title {
    margin-top: rem(8);
    font-size: rem(14);
    font-weight: 700;
    line-height: 1.5;
    @include mq(md){
        margin-top: rem(10);
        font-size: rem(16);
    }
}

.service-card__text {
    margin-top: rem(20);
    font-size: rem(14);
    line-height:2.28;
    letter-spacing: 0.05em;
    font-weight: $regular;
    @include mq(md){
        margin-top: rem(15);
        font-size: rem(14);
    }
}

.service-card__btn {
    text-align: right;
    margin-top: rem(20);
}