@use "global" as *;

.service__inner {
    max-width: rem(1110);
    margin: auto;
}

.service__title {
    text-align: left;
    @include mq(md){
    text-align: right;
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform;
    transform: translate(50px, 0);
    }
}

.service__title.is-scroll-in {
    opacity: 1;
    transform: translate(0, 0);
}

.service__items {
    margin-top: rem(28);
}

