@use "global" as *;

.service__inner {
    max-width: rem(1110);
    margin: auto;
}

.service__title {
    text-align: left;@include mq(md){
        text-align: right;
    }
}

.service__items {
    margin-top: rem(28);
}

