@use "global" as *;

.works-list {
    padding-bottom: rem(28);
    border-bottom: 1px solid #E2E2E2;
    display: flex;
    @include mq(md){
        padding-bottom: rem(48);
    }
}

.works-list + .works-list {
    margin-top: rem(30);
    @include mq(md){
        margin-top: rem(49);
    }
}

.works__article {
    display: flex;
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform;
    transform: translate(0, -50px);
}

.works__article.is-scroll-in {
    opacity: 1;
    transform: translate(0, 0);
}


.works-list__img {
    max-width: rem(120);
    width: 100%;
    flex-shrink: 0;
    @include mq(md){
        max-width: rem(290);
    }
}

.works-list__img img {
    width: 100%;
    aspect-ratio: 120/90;
    object-fit: cover;
    @include mq(md){
    aspect-ratio: 290/229;
        
    }
}

.works-list__content {
    margin-left: rem(18);
    @include mq(md){
        margin-left: rem(49);
    }
}

.works-list__head {
    margin-top: rem(11.5);
    margin-bottom: rem(4);
}

.works-list__head a {
    position: relative;
    display: inline-block;
    font-size: rem(14);
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    @include mq(md){
        font-size: rem(24);
        -webkit-line-clamp: 1;
        margin-top: rem(23);
        max-width: rem(600);
    }
}

.works-list__head a span::before {
    content: "";
    width: calc(100% + rem(150)); /* 余白を追加 */
    height: 1px;
    position: absolute;
    left: -rem(10); /* 左側の余白を考慮 */
    bottom: rem(-3);
    transition: transform 0.3s;
    transform: scale(0, 1);
    transform-origin: center top;
    background-color: $black;
}

.works-list__head a span:hover::before {
    transform: scale(1, 1);
}

.works-list__title {
    position: relative;
}

.works-list__title::after {
    content: "";
    position: absolute;
    display: block;
    background-color: $black;
    width: rem(1);
    height: rem(20);
    bottom: 0;
    right: rem(-8);
    @include mq(md){
        bottom: rem(4);
        height: rem(22);
        right: rem(-13);
    }
}

.works-list__sub-title {
    margin-left: rem(10);
    @include mq(md){
        margin-left: rem(19);
    }
}

.works-list__text {
    display: none;
    @include mq(md){
        display: block;
        color: #626262;
        margin-top: rem(30);
        margin-bottom: rem(18);
        line-height: 2;
    }
}

.works-list__date {
    margin-top: 10px;
}

